body
{
    font-weight: bold;
}
h1
{
    color:brown;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h2
{
    color:palevioletred;
    font-weight: bold;
}
#domanda
{
    
    color:black;
    font-style:
}

