body
{
    background-color:antiquewhite;
}
h1
{
    color:brown;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h2
{
    color:palevioletred;
    font-weight: bold; 
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#domanda
{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold; 
    color:black;
}
#rispOk
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#rispErr
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
#risultato
{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}